#!/usr/bin/make -f
# -*- makefile -*-

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --with gir

DPKG_GENSYMBOLS_CHECK_LEVEL=4
export DPKG_GENSYMBOLS_CHECK_LEVEL

ifeq (linux,$(DEB_HOST_ARCH_OS))
  SYSTEMD_CONFIG_FLAG = --enable-libsystemd-login
else
  SYSTEMD_CONFIG_FLAG = --disable-libsystemd-login
endif

override_dh_auto_configure:
	dh_auto_configure --builddirectory=build \
		-- \
		--disable-silent-rules \
		--enable-gtk-doc \
		--enable-man-pages \
		--enable-introspection \
		$(SYSTEMD_CONFIG_FLAG) \
		--disable-examples \
		--with-systemdsystemunitdir=/lib/systemd/system \
		--libexecdir=\$${prefix}/lib/policykit-1

# Also configure for build against libelogind on Linux
ifeq (linux,$(DEB_HOST_ARCH_OS))
	dh_auto_configure --builddirectory=build-elogind \
		-- \
		--disable-silent-rules \
		--disable-gtk-doc \
		--disable-man-pages \
		--enable-introspection \
		--disable-libsystemd-login \
		--enable-libelogind \
		--disable-examples \
		--with-systemdsystemunitdir=/lib/systemd/system \
		--libexecdir=\$${prefix}/lib/policykit-1
endif

override_dh_auto_build:
	dh_auto_build --builddirectory=build
ifeq (linux,$(DEB_HOST_ARCH_OS))
	dh_auto_build --builddirectory=build-elogind
endif

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	# on buildds we can't rely on actually having a system bus
	dbus-run-session -- sh -c 'DBUS_SYSTEM_BUS_ADDRESS=$$DBUS_SESSION_BUS_ADDRESS make -C build check'
ifeq (linux,$(DEB_HOST_ARCH_OS))
	dbus-run-session -- sh -c 'DBUS_SYSTEM_BUS_ADDRESS=$$DBUS_SESSION_BUS_ADDRESS make -C build-elogind check'
endif
endif

override_dh_makeshlibs:
	dh_makeshlibs -Xusr/lib/$(DEB_HOST_MULTIARCH)/polkit-1/

override_dh_shlibdeps:
ifeq (linux,$(DEB_HOST_ARCH_OS))
	dh_shlibdeps -ppolicykit-1-elogind -plibpolkit-agent-elogind-1-0 -plibpolkit-gobject-elogind-1-0 -- -Ldebian/shlibs-elogind.local
endif
	dh_shlibdeps --remaining

override_dh_auto_install:
	dh_auto_install --builddirectory=build
ifeq (linux,$(DEB_HOST_ARCH_OS))
	dh_auto_install --builddirectory=build-elogind --destdir=debian/tmp-elogind
endif

override_dh_install:
	# on Debian use sudo group; on Ubuntu, also allow the admin group for
	# historical reasons
	if dpkg-vendor --is ubuntu; then \
	    sed 's/@admin@/"unix-group:sudo", "unix-group:admin"/' debian/admin.rules.in > debian/tmp/etc/polkit-1/rules.d/40-ubuntu-admin.rules; \
	elif dpkg-vendor --is debian; then \
	    sed 's/@admin@/"unix-group:sudo"/' debian/admin.rules.in > debian/tmp/etc/polkit-1/rules.d/40-debian-sudo.rules; \
	fi
ifeq (linux,$(DEB_HOST_ARCH_OS))
	dh_install -ppolicykit-1-elogind -plibpolkit-agent-elogind-1-0 -plibpolkit-gobject-elogind-1-0 --sourcedir=debian/tmp-elogind
endif
	dh_install --remaining

override_dh_missing:
	dh_missing --sourcedir debian/tmp --list-missing
	dh_missing --sourcedir debian/tmp-elogind --list-missing

dh_override_dh_auto_clean:
	rm -rf debian/tmp/
	rm -rf debian/tmp-elogind/
	dh_auto_clean --builddirectory=build
	dh_auto_clean --builddirectory=build-elogind
